.Mikado_Yellow{
    color: #F9C513;
}
.Yellow_Green{
    color:#93C718;
}
.Viridian_Green{
    color: #049A9B;
}
.Rose_Red{
    color: #C6025C;
}
.black{
    color: #000000;
}
.Mikado_YellowB{
    background-color: #F9C513;
}
.Yellow_GreenB{
    background-color:#93C718;
}
.Viridian_GreenB{
    background-color: #049A9B;
}
.Rose_RedB{
    background-color: #C6025C;
}
.blackB{
    background-color: #000000;
}
.GoalB{
    background-color:#231f20;
    margin-bottom: 1rem;
}
