.Mikado_Yellow{
    color: #F9C513;
}
.Yellow_Green{
    color:#93C718;
}
.Viridian_Green{
    color: #049A9B;
}
.Rose_Red{
    color: #C6025C;
}
.black{
    color: #000000;
}
.Mikado_YellowB{
    background-color: #F9C513;
}
.Yellow_GreenB{
    background-color:#93C718;
}
.Viridian_GreenB{
    background-color: #049A9B;
}
.Rose_RedB{
    background-color: #C6025C;
}
.blackB{
    background-color: #000000;
}
.GoalB{
    background-color:#fff;
    margin-bottom: 1rem;
}
.Goal1B{
    background-color:#E61F38;
    margin-bottom: 1rem;
}
.Goal2B{
    background-color:#DEAA37;
    margin-bottom: 1rem;
}
.Goal3B{
    background-color:#4BA035;
    margin-bottom: 1rem;
}
.Goal4B{
    background-color:#C61229;
    margin-bottom: 1rem;
}
.Goal5B{
    background-color:#FF371B;
    margin-bottom: 1rem;
}
.Goal6B{
    background-color:#21BEE3;
    margin-bottom: 1rem;
}
.Goal7B{
    background-color:#FCC403;
    margin-bottom: 1rem;
}
.Goal8B{
    background-color:#A31240;
    margin-bottom: 1rem;
}
.Goal9B{
    background-color:#FD6920;
    margin-bottom: 1rem;
}
.Goal10B{
    background-color:#DE0B67;
    margin-bottom: 1rem;
}
.Goal11B{
    background-color:#FD9E1F;
    margin-bottom: 1rem;
}
.Goal12B{
    background-color:#C08C2A;
    margin-bottom: 1rem;
}
.Goal13B{
    background-color:#3D7F42;
    margin-bottom: 1rem;
}
.Goal14B{
    background-color:#0298DA;
    margin-bottom: 1rem;
}
.Goal15B{
    background-color:#55C127;
    margin-bottom: 1rem;
}
.Goal16B{
    background-color:#00689E;
    margin-bottom: 1rem;
}
.Goal17B{
    background-color:#12466A;
    margin-bottom: 1rem;
}
body{
    color:#FFF;
}
h1{
    color:black;
}
.addBtn{
    margin: 1rem;
}
#sel{
    margin-bottom: 0.5rem;
}