.HowToHelp{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.EID{
    padding:1rem;
    margin:1rem;
    min-width :200px;
}
.GoalTitle{
    margin:1rem;
    margin-bottom: 2rem;
    align-items:center;
}